html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  color: #392a2d;
  padding: 0px;
  height: 100%;
}

h1 {
  font-weight: bold;
}

a {
  color: #392a2d;
}

a:hover {
  color: #038e87;
  text-decoration: none;
}

a:link {
  color: #11d1c8;
}

.cube1, .cube0 {
  float: left;
  width: 15px;
  height: 15px;
  margin: 0px 5px;
}

.cube1 {
  background-color: #11d1c8;
}

.cube0 {
  background-color: #f2f2f2;
}

.labelDone {
  background-color: transparent;
  border: none;
  color: #392a2d;
  font-weight: 700;
  padding: 0px;
  margin-bottom: 5px;
  height: auto;
  box-shadow: initial;
}

.header {
  background: #11d1c8;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.form-control, .btn {
  border-radius: initial;
}

.btn {
  background: #11d1c8;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.btn:hover {
  background: #038e87;
  color: #fff;
}

form {
  border-top: 1px solid #11d1c8;
  margin-top: 20px;
  padding-top: 20px;
}

.main {
  padding-bottom: 20px;
  min-height: 500px;
}

.footer {
  margin-bottom: 50px;
}

.hide {
  display: none;
}

.alert-success {
  color: #2f8e8e;
  background-color: rgba(75, 192, 192, 0.2);
  border-color: #4bc0c0;
}

.alert-danger {
  color: #9c3a4f;
  background-color: rgba(255, 99, 132, 0.2);
  border-color: #ff6384;
}

#total {
  font-size: 18px;
  font-weight: bold;
}
